<h1>Adicione um usuario</h1>

<form action="/users/create" class="form" method="post">
<div class="form-control">
    <label for="name">Nome:</label>
    <input type="text" name="name" id="" placeholder="Digite o nome de usuario">

</div>

<div class="form-control">
    <label for="occupation">Profissão:</label>
    <input type="text" name="occupation" id="" placeholder="Digite a profissão">
</div>

<div class="form-control form-check-box">
     <input type="checkbox" name="newsletter" id=""  checked>
    <label for="">Enviar promoções?:</label>

</div>
<input type="submit" value="Cadastrar" name="" id="">
</form>