<h1>Criaçao de Task</h1>

<form class="form-create" action="/tasks/add" method="post">
<div class="form-control">
    <label for="">Titulo:</label>
    <input type="text" required name="title" placeholder="O QUE VOÇE VAI FAZER?" id="">
</div>

<div class="form-control">
    <label for="">Descrição:</label>
    <textarea name="description" id="" required placeholder="DIGITE A TAREFA"></textarea>
</div>
<input id="btn" type="submit" value="Criar" >




</form>