body{
    background-color: rgb(144, 197, 199);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.form-check-box{
    flex-direction: row;
}
.form-check-box input{
    margin-right: 10px;
}




#navbar{
    border-bottom: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 1em;
}

#navbar ul {
    /* border-bottom: 1px solid #ccc; */
    display: flex;
    list-style: none;
    margin: 0;
    
}


#navbar ul li {
margin-left: 1em;
}

a{
    text-decoration: none;
}


.form{
    width: 450px;
    margin: 0 auto;
}

.form-control{
    display: flex;
    flex-direction: column;
    margin-bottom: .5em;
}

.form-control label{
    font-weight: bold;
    margin-bottom: .3em;
}

.form-control input{
    padding: 5px;
}


h1{
    text-align: center;
}


.container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin:  0 auto;
    gap:  10px;
}

.container .item{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    flex: 1 1 29%;
    max-width: 29%;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.item h2, .item p{
margin-bottom: .8em;
}

.actions{
display: flex;
justify-content: space-between;
}

.actions a, .actions input{
    border: 1px solid #bbb;
    border-radius: 5px;
    text-decoration: none;
    background-color: white;
    padding: 5px;
    font-size: 15px;
    color: black;
    cursor: pointer;
}
.actions .details-btn{
border-color: #004085;
color: #004085;
}
.actions .delete-btn{
    border-color:  #721c24;
    color: #721c24;

}

.adress-container{
    max-width: 1000px;
    margin: 1em auto;
    padding-top: 1em;
    border-top: 1px solid #ccc;
    padding-bottom: 200px;

}


.adress-container h2{
    margin-bottom:  1em;
}
.adress-container form{
    width: 300px;
}

.adress-list{
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #ccc;
}