<h1>meu projeto</h1>
<form action="/books/insertbook" method="post" class="form">
<div class="form-control">
    <label for="">Titulo:</label>
    <input type="text" name="title" id="" placeholder="Digite o titulo do livro">
</div>

<div class="form-control">
    <label for="">Paginas:</label>
    <input type="number" name="pagesqty" id="" placeholder="Digite o numero de paginas do livro">
</div>

<input type="submit" value="Cadastrar" name="" id="">
</form>